#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 550px;
  height: 853px;
  background-color: white;
}

.gray {
  color: #918E9B;
}

.bold {
  font-weight: bold;
}

nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 82.02px;
  max-height: 25.35px;
  padding: 20px 36px;
}

.Hero {
  display: flex;
  flex-direction: column;
}

.Hero>img {
  margin-block-start: 20px;
  align-self: center;
  max-width: 395px;
}

.hero--intro {
  margin-inline-start: 36px;
}

.Hero h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  text-align: left;
  margin-block: 32px 0;
}

.Hero p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  text-align: left;
  max-width: 320px;
}

.Card {
  position: relative;
  max-width: 176px;
  font-size: 12px;
  text-align: left;
}

.card--photo {
  border-radius: 9px;
  width: 100%;
}

.card-stats {

}

.card--star {
  height: 14px;
}