#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 550px;
  height: 853px;
  background-color: white;
}

nav {
  height: 70px;
  display: flex;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 82.02px;
  max-height: 25.35px;
  padding: 20px 36px;
}